<div class="container-fluid main">
  <div class="main-bg-video">
    <video autoplay muted loop class="main-bg-video__content">
      <source
        src="../../assets/mixkit-person-sits-on-awning-of-abandoned-building-688.mp4"
        type="video/mp4"
      />
      Your browser isn't supported!
    </video>
  </div>
  <div class="row main-row1">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row main-row2">
    <div class="col-md-2 main-row2__text1"></div>
    <div
      class="col-md-8 main-row2__text2 d-flex align-items-center justify-content-center"
    >
      Tehran Hype
    </div>
    <div class="col-md-2 main-row2__text3"></div>
  </div>
  <div class="row main-row3">
    <div class="col-md-2 main-row3__text1"></div>
    <div class="col-md-8 main-row3__text2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      molestiae ab eligendi ex tempora quidem laudantium adipisci culpa amet
      numquam, dolorem esse, perspiciatis animi autem voluptate dolorum veniam
      neque. Impedit.
    </div>
    <div class="col-md-2 main-row3__text3"></div>
  </div>
</div>

<div class="container-fluid main2"></div>
<div class="container-fluid main3"></div>
